---
import { getVideo } from "@/lib/wp";

const videoUrl = await getVideo(24);
import H1Text from "@/components/ui/H1Text.astro";
import RedButton from "@/components/ui/RedButton.astro";
---

<section
  class="flex items-center justify-center rounded-4xl max-w-[1110px] h-[600px] mt-40 relative"
>
  <video
    src={videoUrl}
    autoplay
    loop
    muted
    class="absolute top-0 left-0 w-full h-full object-cover z-0 rounded-4xl"
  >
  </video>
  <div
    class="z-1 w-full h-full flex bg-primary/70 rounded-4xl items-center justify-center text-xl flex-col gap-10"
  >
    <H1Text title="Pauli Herrera" />
    <RedButton title="Contacto" />
  </div>
</section>
