@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
  --color-primary: #ffc7ba;
  --color-titles: #f34f3a;
  --font-headers: 'Caveat Brush', cursive;
}

body {
  font-family: 'Inter Variable', sans-serif;
  background-color: var(--color-primary);
  height: 200vh;
}

.fade-in {
  animation: fadeIn ease-in-out .3s;
}

.fade-up {
  transform: translateY(20px);
  animation: fadeUp 1s ease-in-out forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
