@import "tailwindcss";

@theme {
  --color-primary: #ffc7ba;
  --color-titles: #f34f3a;
}

body {
  font-family: 'Inter Variable', sans-serif;
  background-color: var(--color-primary);
  height: 200vh;
}

.fade-in {
  animation: fadeIn ease-in-out .3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}