---
import Navbar from "../header/Navbar";
---

<header
	class="text-titles flex justify-between md:justify-between py-10 px-6 6xl:px-0 lg:px-0 sticky top-0 bg-primary z-50"
>
	<p>Pauli</p>
	<Navbar client:visible />
</header>
