---
import Navbar from "../header/Navbar";
---

<header
	id="header"
	class="text-titles flex p-4 justify-around z-50 bg-primary transition-all duration-300 fixed top-0 left-0 w-full"
>
	<p>Pauli</p>
	<Navbar client:visible />
</header>

<script type="module" is:inline>
	let lastScroll = 0;
	const header = document.getElementById("header");
	const threshold = window.innerHeight * 0.01;
	function onScroll() {
		if (window.scrollY > threshold) {
			header.style.boxShadow = "0 10px 20px rgba(0,0,0,0.1)";
		} else {
			header.style.boxShadow = "none";
		}
	}
	window.addEventListener("scroll", onScroll);
</script>
