---
import Layout from "../layouts/Layout.astro";
import { getPageInfo } from "../lib/wp";

const { title, content } = await getPageInfo("pagina-de-inicio");
---

<Layout>
	<main class="mx-auto container">
		<h1 class="text-3xl">
			{title}
		</h1>
		<div set:html={content} />
	</main>
</Layout>
