---
import About from "@/components/sections/about/About.astro";
import Hero from "@/components/sections/hero/Hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Pauli - Sitio oficial">
	<main class="mx-auto container">
		<Hero />
		<About />
	</main>
</Layout>
