---
import H2Text from "@/components/ui/H2Text.astro";
import Card from "@/components/ui/Card";
---

<div class="mt-20 w-full h-auto flex flex-col items-center gap-20">
  <H2Text title="Algunos proyectos" />
  <section class="flex flex-col md:flex-row gap-10">
    <Card imageID={25} client:load />
    <Card imageID={26} client:load />
    <Card imageID={27} client:load />
  </section>
</div>
