---
import "@fontsource-variable/inter";
import "@fontsource/caveat-brush";
import "@/styles/global.css";
import Header from "@/components/sections/header/Header.astro";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="relative">
		<Header />
		<main class="mx-auto md:max-w-6xl">
			<slot />
		</main>
	</body>
</html>
