---
import { getCollection } from "astro:content";

const proyectos = await getCollection("proyectos");
---

<html>
  <body>
    <h1>Proyectos</h1>
    <ul>
      {
        proyectos.map((proyecto) => (
          <li>
            <a href={`/proyectos/${proyecto.slug}`}>{proyecto.data.title}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
