---
import Navbar from "../ui/Navbar";
---

<header
	class="text-titles flex justify-between md:justify-between pt-8 px-6 6xl:px-0 lg:px-0 sticky top-0 bg-primary"
>
	<p>Pauli</p>
	<Navbar client:only />
</header>
