---
const { title } = Astro.props;
---

<button
  class="bg-titles animate-fade-in-up animate-delay-300 text-white font-bold px-6 py-4 rounded-2xl hover:bg-white hover:text-titles transition cursor-pointer"
>
  {title}
</button>
